.edit-window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}   

.edit-window__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3rem;
    width: 100%;
    max-width: 600px;
    max-height: calc(100vh - 40px);
    background: white;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(101, 101, 101, 0.5);
}

.edit-window__input {
    border: 1px solid rgba(101, 101, 101);
}