input {
    height: 3rem;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 0.375rem 0.75rem;
    margin: 5px;
    color: #212529;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(101, 101, 101, 0.5);
}
